@use '../../sass/common' as *;

.postContent {

	.heading {
		@include sectionHeading;
		margin-top: 2.2em;
		margin-bottom: 0.7em;
	}

	.text {
		display: flex;
		flex-direction: column;
		margin-bottom: 1em;
		
		p {
			margin-bottom: 0.7em;
		}
	}

	.imageWrapper {
		width: 100%;
		border-radius: 40px 0px 40px 0px;
		overflow: hidden;

		.image {
			position: relative;
			object-fit: cover;
			width: 100%;
			max-height: 450px;
		}
	}
}

@media (width>=1200px) {
	.postContent {
		.wrapper {
			max-width: 800px;
		}
	}
}
