@use '../sass/common' as *;

.loaderBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-width: 370px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background: #ffffff;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 43%,
		rgba(222, 255, 255, 1) 89%
	);
}

.loaderContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

.loader {
	width: 120px;
	width: 80%;
	height: 20px;
	border-radius: 20px;
	background: repeating-linear-gradient(135deg, $accent 0 10px, $dark 0 20px) 0/0%
			no-repeat,
		repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
	animation: l3 2s infinite;
}
@keyframes l3 {
	100% {
		background-size: 100%;
	}
}
