@use './common' as *;

.notFoundPage {
	position: relative;
	padding: 5em 0;
	padding-top: 8em;
	padding-bottom: 30em;
	overflow: clip;
	background: #ffffff;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 21%,
		rgba(237, 252, 255, 1) 65%,
		rgba(161, 229, 240, 1) 79%,
		rgba(10, 212, 202, 1) 100%
	);

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.heading {
		@include sectionHeading(center, 20%);
		text-align: center;
	}

	.text {
		max-width: 690px;
		font-weight: 500;
		text-align: center;
	}

	.image {
		width: 250px;
		margin: 2em auto;
	}

	a {
		@include thinBtn();
		margin-top: 2em;
	}
}

@media (width >= 500px) {
	.notFoundPage {
		.image {
			width: 300px;
		}
	}
}

@media (width >=768px) {
	.notFoundPage {
		.image {
			width: 350px;
		}
	}
}

@media (width >=1400px) {
	.notFoundPage {
		padding-top: 12em;
		.image {
			width: 400px;
			margin: 2.5em auto;
		}

		a {
			margin-top: 3em;
		}
	}
}
