@use '../../sass/common' as *;

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.thumb {
		pointer-events: none;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.title {
		font-size: 1.2em;
		font-weight: 600;
	}

	.description {
		display: -webkit-box;
		min-height: 7.5em;
		line-height: 1.5em;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.externalLink {
		width: fit-content;
		margin-top: 1em;
		opacity: 0.5;
		transition: opacity 0.2s;

		&:hover {
			opacity: 1;
		}
	}

	.button {
		@include thinBtn;
		margin-top: 2em;
		padding: 0.7em 1em;
		scale: 1;

		.icon {
			font-size: 1.2em;
			rotate: -45deg;
		}

		&:hover {
			scale: 0.95;
		}
	}
}

@media (width>=768px) {
	.card {
		.description {
			min-height: 4.5em;
			-webkit-line-clamp: 3;
		}
	}
}
