@use '../../sass/common' as *;

.section {
	padding: 7em 0;
	padding-bottom: 5em;
	min-height: 100vh;
	overflow: hidden;

	.wrapper {
		position: relative;
	}

	.heading {
		@include sectionHeading;
		max-width: 90%;
	}

	.text {
		margin-top: 2em;
		max-width: 90%;
	}

	.sketchImg {
		position: absolute;
		top: -80px;
		right: -50px;
		width: 250px;
		opacity: 0.3;
	}

	.packages {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5em;
		gap: 4em;
	}
}

@media (width>=500px) {
	.section {
		.sketchImg {
			width: 300px;
			top: -100px;

			&--gmb {
				width: 350px;
			}
		}
	}
}

@media (width>=576px) {
	.section {
		.sketchImg {
			right: -15%;
			width: 400px;
		}
	}
}

@media (width>=768px) {
	.section {
		.heading {
			width: 70%;
		}

		.sketchImg {
			&--gmb {
				top: -7%;
				right: -10%;
				width: 450px;
			}
		}
	}
}

@media (width>=992px) {
	.section {
		.wrapper {
			max-width: 100%;
		}

		.sketchImg {
			width: 400px;
			top: 30px;
			right: -70px;
			z-index: -1;

			&--gmb {
				width: 550px;
				top: -10%;
				right: -15%;
			}
		}

		.heading {
			width: 100%;
		}

		.text {
			width: 80%;
		}

		.packages {
			flex-direction: row;
			align-items: stretch;
			justify-content: space-between;
			width: 100%;
			gap: 1em;

			&--gmb {
				width: fit-content;
				margin-left: auto;
				margin-right: auto;
				gap: 3em;
			}
		}
	}
}

@media (width>=1200px) {
	.section {
		.sketchImg {
			top: -10px;
		}

		.wrapper {
			@include wrapper;
		}
	}
}
