@use '../../sass/common' as *;

.section {
	padding-top: 5em;
	padding-bottom: 5em;
	overflow: hidden;

	.heading {
		@include sectionHeading;
	}

	.text {
		margin-top: 2em;
	}

	.offersList {
		display: flex;
		flex-direction: column;
		gap: 5em;
		margin-top: 7em;
	}
}	

@media(width>=992px) {
	.section {
		.offersList {
			margin-top: 12em;
			gap: 7em;
		}
	}
}
