@use '../../../sass/common' as *;

.post {
	.bodyWrapper {
		display: flex;
		flex-direction: column;
		gap: 1em;

		h3 {
			margin-top: 2.2em;
			margin-bottom: 0.6em;
			font-size: 1.4em;
			font-weight: 600;
		}

		h4 {
			margin-top: 2.2em;
			margin-bottom: 0.6em;
			font-size: 1.2em;
			font-weight: 600;
		}

		ul {
			margin: 2em 0;

			&:global(.dotted) {
				list-style: disc;
				padding-left: 2em;

				li {
					padding-left: 0;
				}
			}

			&:global(.num) {
				list-style: decimal;
				padding-left: 2em;

				li {
					padding-left: 0.5em;
				}
			}
		}

		li {
			margin: 1em 0;
			padding-left: 1em;
		}
	}

	.cta {
		margin: 3em 0;

		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	
	.blogSection {
		@include section-gradient;
		padding-top: 14em;
		padding-bottom: 35em;

		@media (width>=768px) {
			padding-bottom: 25em;
		}

		h2 {
			@include sectionHeading(center, 30%);
			margin-top: 2.2em;
			margin-bottom: 0.7em;
			width: fit-content;
			margin-right: auto;
			text-align: center;
		}

		p {
			text-align: center;
			margin-right: auto;
			font-weight: 500;
		}
	}
}
