@use '../../sass/common' as *;

.megaMenu {
	position: absolute;
	top: 300%;
	left: -100%;
	display: flex;
	flex-direction: column;
	width: 350px;
	padding: 2.5em;
	gap: 2.5em;
	background-color: white;
	border: 1px solid $accent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	.linkItem {
		display: flex;
		gap: 1em;
		color: $semi-dark;
		transition: color 0.2s;

		&:hover {
			color: $footer-dark;

			.title::before {
				width: 100%;
			}
		}

		.icon {
			width: 50px;
		}

		.description {
			display: flex;
			flex-direction: column;
			gap: 0.3em;
		}

		.title {
			position: relative;
			width: fit-content;
			font-weight: 700;
			white-space: nowrap;

			&::before {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 50%;
				height: 2px;
				width: 0%;
				transform: translateX(-50%);
				background-color: $accent;
				transition: width 0.2s;
			}
		}

		.text {
			font-size: 0.9em;
		}
	}
}
