@use '../../sass/common' as *;

.reviewCard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2em 0;
	padding: 2em;
	height: 300px;
	border: 1px solid $semi-dark;
	border-radius: 20px;

	.nick {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.author {
		font-weight: bold;
		letter-spacing: 1.5px;
		width: 100%;
	}

	.starsImg {
		align-self: flex-start;
	}

	.comment {
		margin: auto 0;
		margin-top: 2em;
		border-left: 3px solid $dark;
		padding-left: 1em;
		font-weight: 300;
		color: $dark;
	}

	.quoteIcon {
		position: absolute;
		top: 1em;
		right: 1em;

		&--bottom {
			top: auto;
			right: auto;
			left: 1em;
			bottom: 1em;
		}
	}

	&--odd {
		color: $white;
		background: $dark-gradient;

		.comment {
			color: $white;
			border-color: $accent;
		}
	}
};
