@use '../../sass/common' as *;

.loaderBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-width: 370px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	background: #ffffff;
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 21%,
		rgba(237, 252, 255, 1) 65%,
		rgba(161, 229, 240, 1) 79%,
		rgba(10, 212, 202, 1) 100%
	);
}

.loaderContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

.loader {
	width: 80%;
	height: 20px;
	border-radius: 20px;
	background: repeating-linear-gradient(135deg, $accent 0 10px, $dark 0 20px) 0/0%
			no-repeat,
		repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
	animation: l3 var(--loader-duration, 1700ms) ease-in-out forwards;
}
@keyframes l3 {
	100% {
		background-size: 100%;
	}
}
