@use '../../sass/common' as *;

.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 5em;
	padding-top: 450px;
	padding-bottom: 2em;
	background-color: $footer-dark;
	font-size: 0.9em;
	color: rgba(white, 0.7);

	.offerCTA {
		position: absolute;
		top: 0;
		left: 50%;
		width: 90%;
		transform: translate(-50%, -50%);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 5em;
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1em;
		}

		.heading {
			margin-bottom: 2em;
			color: $white;
			font-weight: 500;
			text-transform: uppercase;
		}

		a {
			color: rgba(white, 0.7);
			transition: color 0.2s;

			&:hover {
				color: white;
			}
		}
	}

	.col1 {
		gap: 4em;

		.flexContainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.logo {
			img {
				width: 150px;
			}
		}

		.text {
			margin-top: 1em;
			width: 90%;
			max-width: 450px;
			align-self: center;
			text-align: center;
		}
	}

	.lowerBar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3em;

		.cookieBtn {
			width: 50px;
		}

		.copyright {
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			a {
				text-decoration: underline;
				
				&:hover {
					color: white;
				}
			}
		}
	}
}

@media (width>=400px) {
	.footer {
		padding-top: 500px;
	}
}

@media (width>=768px) {
	.footer {
		padding-top: 350px;
	}
}

@media (width>=992px) {
	.footer {
		gap: 5em;

		.wrapper {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			gap: 0;
		}

		.col1 {
			width: 350px;
		}

		.lowerBar {
			width: 100%;
			flex-direction: row;

			.copyright {
				flex-direction: row;

				a {
					margin-left: 0.5em;
				}
			}

			.cookieBtn {
				position: absolute;
				bottom: 1em;
				right: 1em;
			}
		}
	}
}
