@use '../../sass/common' as *;

.section {
	position: relative;
	padding: 15em 0;
    padding-bottom: 5em;

	.wrapper {
		position: relative;
	}

	.heading {
		@include sectionHeading;
	}

	.paragraph {
		@include paragraph;
	}

	.photoWrapper {
		position: absolute;
		top: 0;
		justify-self: center;
	}

	.devPhoto {
		position: absolute;
		top: 0;
		right: 1em;
		width: 200px;
		transform: translateY(-45%);
	}

	.sketchImg {
		position: absolute;
		top: -7em;
		left: 0;
		width: 250px;
		opacity: 0.3;
	}
}

@media (width>=500px) {
	.section {
		padding-top: 17em;

		.devPhoto {
			width: 250px;
			transform: translateY(-35%);
		}

		.sketchImg {
			top: -10em;
		}
	}
}

@media (width>=768px) {
	.section {
		padding-top: 12em;
        padding-bottom: 7em;

		.heading {
			width: 50%;
		}

		.sketchImg {
			width: 280px;
			top: -12em;
			left: -5em;
		}
	}
}

@media (width>=992px) {
	.section {
        padding-bottom: 10em;

		.heading {
			width: 50%;
		}

        .paragraph {
            width: 90%;
        }

		.devPhoto {
			right: 3em;
			width: 350px;
			transform: translateY(-50%);
		}
	}
}
