@use '../../sass/common' as *;

.section {
	position: relative;

	.napContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start !important;
		width: fit-content;
		gap: 3em;
		list-style: none;
		font-style: normal;
	}

	.napItem {
		a {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1em;
			color: $white;
			font-weight: 500;
		}

		.icon {
			width: 50px;
		}
	}
}
