@use '../../sass/common' as *;

.accordion {
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.question {
	width: 100%;
	min-height: 70px;
	background: none;
	border: none;
	padding: 1em 0.5em;
	text-align: left;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: color 0.2s ease;
	gap: 0.1em;

	&:hover {
		color: $accent;
	}

	&--active {
		color: $accent;
	}

	span {
		max-width: 80%;
	}

	.icon {
		width: 5%;
		justify-self: flex-end;
		font-size: 1.2rem;
		transition: transform 0.5s ease;
		color: $accent;

		&--isOpen {
			transform: rotate(180deg);
		}
	}
}

.content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transform: translateY(-8px);
	padding: 0 1rem;
	padding-top: 0;
	padding-bottom: 0;
	pointer-events: none;
	font-weight: 200;
	transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.4s ease,
		transform 0.4s ease;
	will-change: max-height, opacity, transform, padding;

	&--open {
		max-height: 600px;
		opacity: 1;
		transform: translateY(0);
		padding-top: 0em;
		padding-bottom: 1em;
		pointer-events: auto;
	}
}
