@use '../../sass/common' as *;

.cta {
	justify-self: center;
	position: relative;
	padding: 4em 1em;
	max-width: 1110px;
	@include dark-gradient;
	border: 1px solid $accent;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;

	.title {
		@include sectionHeading(center);
		max-width: 350px;
		text-align: center;
		justify-self: center;
	}

	.text {
		margin-top: 2em;
		max-width: 400px;
		justify-self: center;
		font-weight: 500;
		text-align: center;
	}

	.list {
		margin: 0 auto;
		margin-top: 5em;
		display: flex;
		flex-direction: column;
		max-width: 450px;
		gap: 3em;
	}

	.item {
		width: 80%;
		max-width: 310px;

		h4 {
			font-weight: bold;

			span {
				margin-right: 0.2em;
				font-size: 1.15em;
				color: $accent;
			}
		}

		p {
			margin-top: 0.3em;
			font-size: 0.9em;
			font-weight: 200;
		}

		&:nth-child(2n) {
			align-self: flex-end;
			text-align: right;
		}
	}

	.button {
		@include button;
		@include accent-gradient;
		justify-self: center;
		margin-top: 5em;
		width: fit-content;
		color: $dark;

		.icon {
			font-size: 1.4em;
			rotate: -45deg;
		}
	}

	.sketchImg {
		position: absolute;
		bottom: 60px;
		left: 0%;
		width: 60%;
		max-width: 400px;
		rotate: 25deg;
		opacity: 0.15;
	}
}

@media(width>=576px) {
	.cta {
		padding: 4em 2em;
	}
}

@media (width>=768px) {
	.cta {
		.item {
			max-width: 350px;
		}
	}
}

@media (width>=992px) {
	.cta {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 7em 2em;
		gap: 5em;

		.contentContainer {
			width: 40%;
		}

		.title {
			@include sectionHeading(left);
			justify-self: start;
			text-align: start;
		}

		.text {
			justify-self: start;

			text-align: start;
		}

		.button {
			justify-self: flex-start;
		}

		.list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2em 3em;
			margin-top: 0;
			width: 60%;
			max-width: none;
		}

		.item {
			width: 100%;
			height: fit-content;
			text-align: left;
			align-self: start;

			&:nth-child(2n) {
				align-self: inherit;
				text-align: inherit;
			}
		}

		.sketchImg {
			bottom: 20px;
			left: 20%;
			max-width: 350px;
			rotate: 0deg;
		}
	}
}

@media (width>=1200px) {
	.cta {
		padding: 9em 4em;
	}
}
